*{
    margin: 0px;
    padding: 0px;
}

a{
    font-style: aqua;
}

h2{
    width: 925px;
    height: 50px;
    background-color: red;
    color: lightblue;
    margin: 5px auto;
    padding: 20px 0px 0px 15px;
    border-radius: 10px;
}

h3{
    color: lightblue;
}

#wrapper{
    width: 970px;
    height: 650px;
    background-color: #20427B;
    margin: 5px auto;
}

#menu{
    display: inline-block;
    background-color: aquamarine;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    margin: 10px;
    position: absolute;
    font-size: 12px;
}

#insidemenu{
    font-size: 12px;
    list-style-position: inside;
}

#body{
    width: 700px;
    background-color: darkblue;
    font-style:lightblue;
    font-size: 12px;
    display: inline-block;
    border-radius: 10px;
    margin: 10px 0px 10px 200px;
    padding: 20px;
}

#information{
    width: 925px auto;
    height: 20px;
    font-size: 12px;
    background-color: gray;
    font-style: lightblue;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 5px;
}

.solidlist{
    list-style-type: disc;
}

.hollowlist{
    list-style-type: circle;
    list-style-position: inside;
    padding: 0px 18px;
}

.purple{
    font-style: purple;
    display: inline-block;
}

.text{
    display: inline-block;
    font-size: 12px;
}